@model IEnumerable<MVC_HotelBooking.Models.DichVu>

@{
    ViewData["Title"] = "Danh Sách Dịch Vụ";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Kiểu Dịch Vụ</th>
            <th>Giá</th>
            <th>Ảnh</th>
            <th>Thao Tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dichVu in Model)
        {
            <tr>
                <td>@dichVu.KieuDichVu</td>
                <td>@dichVu.Gia</td>
                <td><img src="@dichVu.ImageUrl" alt="Image" width="100" /></td>
                <td>
                    <a href="@Url.Action("Edit", "DichVu", new { id = dichVu.MaDV })" class="btn btn-warning">Chỉnh sửa</a>
                    <a href="@Url.Action("Delete", "DichVu", new { id = dichVu.MaDV })" class="btn btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create", "DichVu")" class="btn btn-success">Tạo Dịch Vụ Mới</a>
